global
    daemon

defaults
    mode http
    timeout connect 5s
    timeout client  50s
    timeout server  50s

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries       3
    timeout resolve       1s
    timeout retry         1s
    hold valid            10s

frontend http_front
    bind *:80

    acl is_usuarios path_beg /api/usuarios
    acl is_login path_beg /api/login
    acl is_servicios path_beg /api/servicios
    acl is_habitaciones path_beg /api/habitaciones
    acl is_ordenes path_beg /api/ordenes

    use_backend usuarios_backend if is_usuarios
    use_backend usuarios_backend if is_login

    use_backend servicios_backend if is_servicios or is_habitaciones

    use_backend ordenes_backend if is_ordenes

backend usuarios_backend
    balance roundrobin
    server-template srv 5 usuarios:3000 check resolvers docker resolve-prefer ipv4 init-addr none

backend servicios_backend
    balance roundrobin
    server-template srv 5 servicios:3000 check resolvers docker resolve-prefer ipv4 init-addr none

backend ordenes_backend
    balance roundrobin
    server-template srv 5 ordenes:3000 check resolvers docker resolve-prefer ipv4 init-addr none

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
    stats auth admin:admin

