global
    daemon

defaults
    mode http

    timeout connect 5s
    timeout client 50s
    timeout server 50s

# =====================================================
# FRONTEND PRINCIPAL
# =====================================================

frontend http_front

    bind *:80

    # =========================
    # ACL APIs
    # =========================

    acl is_usuarios path_beg /api/usuarios
    acl is_login path_beg /api/login

    acl is_servicios path_beg /api/servicios
    acl is_habitaciones path_beg /api/habitaciones

    acl is_ordenes path_beg /api/ordenes

    # =========================
    # ACL DASHBOARD
    # =========================

    acl is_dashboard path_beg /dashboard

    # =========================
    # BACKENDS APIs
    # =========================

    use_backend usuarios_backend if is_usuarios
    use_backend usuarios_backend if is_login

    use_backend servicios_backend if is_servicios
    use_backend servicios_backend if is_habitaciones

    use_backend ordenes_backend if is_ordenes

    # =========================
    # BACKEND DASHBOARD
    # =========================

    use_backend dashboard_backend if is_dashboard

    # =========================
    # DEFAULT → FRONTEND
    # =========================

    default_backend frontend_backend

# =====================================================
# FRONTEND WEB
# =====================================================

backend frontend_backend

    balance roundrobin
    server frontend hotel_frontend:80 check

# =====================================================
# USUARIOS
# =====================================================

backend usuarios_backend

    balance roundrobin
    server usuarios hotel_usuarios:3001 check

# =====================================================
# SERVICIOS
# =====================================================

backend servicios_backend

    balance roundrobin
    server servicios hotel_servicios:3002 check

# =====================================================
# ORDENES
# =====================================================

backend ordenes_backend

    balance roundrobin
    server ordenes hotel_ordenes:3000 check

# =====================================================
# DASHBOARD ANALÍTICO
# =====================================================

backend dashboard_backend

    balance roundrobin
    server dashboard hotel_dashboard:8501 check

# =====================================================
# STATS
# =====================================================

listen stats

    bind *:8404

    mode http

    stats enable
    stats uri /stats
    stats refresh 5s

    stats auth admin:admin
